<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    </head>
    <body>
        <div ng-app="" ng-init="cor='yellow'; largura='200'; altura='200';" >
            <input type="text" ng-model="largura" placeholder="largura">
            <input type="text" ng-model="altura" placeholder="altura">
            <input type="text" ng-model="cor" placeholder="cor">
            <input type="text" ng-model="radius" placeholder="circunferencia">
            <div style="width:{{largura + 'px'}}; height:{{altura +'px'}}; background-color:{{cor}}; border-radius:{{radius +'px'}};"></div>
            <h1>"width:{{largura + 'px'}}; height:{{altura +'px'}}; background-color:{{cor}}; border-radius:{{radius +'px'}};"</h1>
        </div>

        </div>
    </body>
</html>