<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    </head>
    <body>
        <div ng-app="myDivs" ng-controller="Divcontroller">
            <input type="number" ng-model="width">
            <input type="number" ng-model="altura">
            <input type="text" ng-model="color">
            <button id="criarDiv">Criar</button>

        </div>
        
        <script>
            var btn = document.getElementById('criarDiv');
            var app = angular.module('myDivs',[]);
            app.controller('Divcontroller',function($scope){
                btn.addEventListener('click',function(){
                    var div = document.createElement('div');
                    var lugar =document.querySelector('div');
                    div.style="width:"+ $scope.width+"px; height:"+ $scope.altura +"px; background-color:"+$scope.color+";";
                    lugar.appendChild(div);
                    
                
                });
            });
            
            
            

            

        </script>
    </body>
</html>
